<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Customer</title>
</head>
<body>

<h1>Create a New Customer</h1>


<form action="add_customer" method="post">
    <label>First name</label>
    <input type="text" name="firstName" placeholder="Customer first name here."/><br/>

    <label>Last name</label>
    <input type="text" name="lastName" placeholder="Customer last name here."/><br/>

    <label>Phone Number</label>
    <input type="text" name="phone" placeholder="Customer phone number here."/><br/>

    <label>Email</label>
    <input type="text" name="email" placeholder="Customer email address here."/><br/>

    <button type="submit">Create New Customer</button>
</form>


<a href = "/customers">See List of Customers</a>


</body>
</html>