<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Customer info for <span th:text="${customer.firstName +' '+ customer.lastName}"></span></h1>

<table>
    <tr>
        <th>Customer #</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    <tr>
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
    </tr>
</table>

<a href="/customers">Back to list of customers.</a>

</body>
</html>